.boxDesign{
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.contentStyling{
  margin-left: 300px;
  margin-right: 300px;
}
.flipCard{
height: 180px;
text-align: center;
font-size: larger;
font-weight: bolder;
}
.dataStyling{
  margin-top: 80px;
}
.pStyling{
  text-align: center;
  font-size: larger;
  font-weight: bolder;
  margin-top: 10px;
}